<%= form_for(@post, remote: true) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.text_area :body, placeholder: "Que quieres compartir hoy?", rows: "5", class: 'form-control' %>
  </div>
  <div class="actions text-right">
    <%= form.submit "Compartir", class: "btn btn--yellow black-text" %>
  </div>
<% end %>


